$border-radius-xl: 1.5rem;
$border-radius-l: 1.25rem;
$border-radius-m: 1rem;
$border-radius-s: 0.75rem;
$border-radius-xs: 0.5rem;

$color-border: #5d5d5d;
$color-background: #1e1e1e;

$color-success: #6b9080;
$color-error: #e56b6f;
$color-info: #4062bb;
$color-warning: #d3b99f;

$popup-max-width: 500px;